In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Create your own dataframe with three columns and five rows. The column names should be "Name", "Age", "City".

In [ ]:
# Write code here

Access the name column from the dataframe df.

In [ ]:
# Write code here

Access a specific row by index (using loc or iloc)

In [ ]:
# Write code here

Access a specific value

In [ ]:
# Write code here

Add a new column of salary to the dataframe.

In [ ]:
# Write code here

Calculate the mean age

In [ ]:
# Write code here

Filter the data and print only the data of the people who are older than 25

In [ ]:
# Write code here

Sort dataframe by age

In [ ]:
# Write code here

Insert a None value in your salary column and then fill it with the mean of your salary.

In [ ]:
# Write code here

Download the sleep dataset from the Lemida and upload it using code - all further code will be done with this dataset.

In [ ]:

# Write code here

Print columns in dataframe

In [ ]:
# Write code here

Find the number of columns and rows in this dataset.

In [ ]:
# Write code here

Get a feel for the dataframe: what are the names of the columns? What are the datatypes? 

Explore the dataset.

In [ ]:
# Write code here

Find the minimum, maximum sleep duration number.
Find the rows with sleep duration values over 7 and also find the rows with sleep duration under five.

In [ ]:
# Write code here

Find the rows with sleep quality less than five but greater than 3. How many rows are there?

In [ ]:
# Write code here

Create a new column that calculates the total hours from weekend_sleep_start to weekend_sleep_end and add it to the dataframe.

In [ ]:
# Write code here

Do you see any relationship between sleep duration and screen time?

In [ ]:
# Write code here

Explore the data, look for relationships between different columns and graph them.